body {
  background: #fff;
  font-family: 'Share Tech', sans-serif;
}

h1 {
  font-size: 40pt;
  margin: 50px 0 0 100px;

  height: 100px;
}

#qr {
  float: left;

  margin-left: 100px;

  width: 500px;
  height: 500px;
}

#actions {
  float: right;

  list-style-type: none;
  text-align: center;

  margin: 0 50px 0 0;

  width: 200px;
  height: 500px;
}
#actions li {
  margin: 0 20px 35px 0;
}
#actions li button {
  width: 200px;
  height: 100px;

  line-height: 100px;
  border: 0;

  font-size: 20pt;
  color: #fff;

  transition: background-color 0.3s;
}
#actions li button:active,
#actions li button.active {
  background-color: #999 !important;
}

#actions li:nth-child(1) button { background-color: #097051; }
#actions li:nth-child(2) button { background-color: #EDA62B; }
#actions li:nth-child(3) button { background-color: #6C2BED; }
#actions li:nth-child(4) button { background-color: #24B9C9; }
